parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Aoe\\AoeDbSequenzer\\Sequenzer\|PHPUnit\\Framework\\MockObject\\MockObject\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: ../Tests/Unit/Service/Typo3ServiceTest.php
		-
			message: '#^Call to an undefined method Aoe\\AoeDbSequenzer\\Xclass\\QueryBuilder\:\:_call\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: ../Tests/Unit/Xclass/QueryBuilderTest.php
		-
			message: '#^Class PhpCsFixer\\Fixer\\(.*) not found\.$#'
			identifier: class.notFound
			path: ../code-quality/ecs.php